.App {
  width: 375px;
  height: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 156px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

h2 { 

  color: #000;

  /* body1 */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;


}

.red-back {
  width: 375px;
  height: 148px;
  background-color: rgba(245, 75, 85, 1)
}

.info-but {
  height: 24px;
  width: 24px;
}

.bonus-container {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 355px;
  height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 20px;
  background: #FFF;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.20);

}

.error {
  background-color: red;
  color: white;
  position: absolute;
  top: 100px;
  left: 10px;
  width: 355px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fire-img {
  width: 13px;
  height: 17px;
}

.text-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.par-cont {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.arrow-img {
  width: 35px;
  height: 35px;
}
h3 {
  color: #000;
  /* headline */
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

p {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color:  #979797;
}